@font-face {
	font-family: SuperMarioMakerExtended;
	src: url(mainFont.woff);
}
body {
	background-attachment: fixed;
	font-family: SuperMarioMakerExtended;
	background-color: #09BBE8;
	background: linear-gradient(to bottom, #09BBE8 5%, #037f9e 100%);
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.boxshad {
	box-shadow: 4px 4px 5px black;
	-moz-box-shadow: 4px 4px 5px black;
	-webkit-box-shadow: 4px 4px 5px black;
	-khtml-box-shadow: 4px 4px 5px black;
}


